@import '../config.scss';

.fr-element {
  .sub_title_quote {
    width: 100%;
    text-align: center;
    white-space: pre-line;
    &:before {
      width: rem(27);
      height: rem(18);
      content: '';
      display: inline-block;
      background: url('./quote.svg');
      background-size: contain;
      background-repeat: no-repeat;
      margin-top: rem(26);
    }
    h2 {
      color: #000;
      font-weight: bold;
      letter-spacing: -0.04em;;
      line-height: 1.75;
      font-size: 24px;
      margin: 0;
    }
    span {
      color: #909090;
      font-size: rem(16);
      margin-top: rem(10);
      display: inline-block;
    }
    @media (max-width: $mobile-width) {
      h2 {
        font-size: rem(19);
      }
      span {
        font-size: rem(13);
        margin-top: rem(4);
      }
    }
  }
}
