@import '../config.scss';

.fr-element {
  word-break: keep-all;
  .sub_title {
    width: 100%;
    text-align: center;
    white-space: pre-line;
    h2 {
      color: #000;
      font-weight: bold;
      letter-spacing: -0.04em;;
      line-height: 1.75;
      font-size: 24px;
      margin: 0;
      margin-top: 36px;
    }
    h2 br {
      display: initial;
    }
    span {
      color: #909090;
      font-size: 16px;
      margin-top: 10px;
      display: inline-block;
    }
    @media (max-width: $mobile-width) {
      white-space: initial;
      h2 {
        font-size: rem(19);
        margin-top: rem(18);
      }
      h2 br {
        display: none;
      }
      span {
        font-size: rem(13);
        margin-top: rem(4);
      }
    }
  }
}
