$mobile-width: 640px; // 부드럽게 쪼그라들기 시작할 시점
$desktop-width: 960px;

// font-weight
$regular: 400;
$medium: 500;
$bold: 600;

// color
$orange: #fd7622;
$black: #000;
$gray: #666;
$white: #fff;

$max-grid-width: 1920px;
$grid: $max-grid-width / 8;
$side-width: $grid;
$content-width: $grid * 4;

$basic-easing: cubic-bezier(0.4, 0, 0.2, 1);

@mixin enTitle {
  [lang='en'] & {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800 !important;
  }
}

@mixin orangeBox {
  background-color: $orange;
  color: $white;

  ::selection {
    background-color: $gray;
  }
}

@mixin scale($property, $px) {
  $w: $mobile-width / 1px;
  $pxs: null;
  $vws: null;
  @each $v in $px {
    @if type-of($v) == 'number' {
      $px: $v / 1px;
      $pxs: append($pxs, if($px == 0, 0, $px + px));
      $vw: $px / $w * 100;
      $vws: append($vws, if($vw == 0, 0, $vw + vw));
    } @else {
      $pxs: append($pxs, $v);
      $vws: append($vws, $v);
    }
  }
  #{$property}: $pxs;
  @media (max-width: $mobile-width) {
    #{$property}: $vws;
  }
}

@mixin clear() {
  &::after {
    clear: both;
    content: '';
    display: block;
  }
}

@mixin board-item() {
  display: flex;
  height: 100px;
  align-items: center;
  border-bottom: solid #e6e6e6 1px;
  text-decoration: none;
  font-weight: normal;
  cursor: pointer;

  &:first-child {
    border-top: solid $orange 2px;
  }

  &:last-child {
    margin-bottom: 20px;
    border-bottom: solid $orange 2px;
  }

  &:hover {
    color: $orange;
  }

  & > span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 17px;
  }

  .board-title.board-title {
    text-align: left;
    text-indent: 20px;
  }
}

@mixin board-item-mobile() {
  @include scale(height, 116px);
  display: block;
  &:last-child {
    @include scale(border-bottom, solid $orange 1px);
  }

  & > span {
    display: none;
    font-size: 17rem;
  }

  .board-title.board-title,
  .date.date {
    display: block;
    padding: 0;
    color: #666666;
    line-height: 1;
    text-align: left;
  }

  .board-title.board-title {
    @include scale(padding-top, 16px);
    @include scale(margin-bottom, 8px);
    line-height: 2;
    width: 90%;
    font-size: 24rem;
    text-align: left;
    text-indent: 0;
  }

  .date.date {
    width: 100%;
  }
}
